body{
	width: 1000px;
	height: 618px;
	background-color: #89CFF0; /* baby blue */
	margin: auto;
	border: 5px double purple;
}
#header{
	background-color: blue;
	margin: 10px;
	padding: 10px;
}
h1 {
	color: purple;
	font-family: Arial, sans-serif;
	font-size: 80px;
	font-weight: bold;
	text-shadow: 3px 3px gray;
	text-align:center;
}
p {
	color:red;
	font-family: Tahoma, sans-serif;
	font-size: 40px;
	text-shadow: 2px 2px gray;
	text-align:center;
	line-height: 150%;
}
img.heart_left{
	float:left;
}
img.heart_right{
	float:right;
}